<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Currency converter</title>
  <script type="text/javascript" src="./lib/angular.min.js"></script>
  <script type="text/javascript" src="./app.js"></script>
  <script type="text/javascript" src="./indexCtrl.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body ng-controller="indexCtrl">
  <div>
    <!-- Add transaction: -->
<!--     <form ng-submit='add(transaction)'>
       <label> value </label>
       <input type='text' id='value' name='value' placeholder='value' ng-model='transaction.value'/>
       <input type='text' id='value' name='value' placeholder='value' ng-model='transaction.value'/>
       <input type='text' id='value' name='value' placeholder='value' ng-model='transaction.value'/>
       <input type='text' id='value' name='value' placeholder='value' ng-model='transaction.value'/>
       <br />
       <label> converted value: </label>
       <label id='convertedValue' ng-model='currency.convertedValue'>{{currency.convertedValue}}</label>
       <br/>
       <button id="convert" type="submit">Convert</button>
    </form>
  </div>   -->
   <div>
     <h1>Currency converter</h1>
     
      <p><form class="well" ng-submit='convert(currency)'>
       <label> From: </label>
       <input type='text' id='value' name='value' class="span3" placeholder='value' ng-model='currency.value'/>
       <br />
       <label> converted value: </label>
       <label id='convertedValue'>{{convertedValue}}</label>
       <br/>
       <button id="convert" class="btn" type="submit">Convert</button>
     </form></p>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   </div>
</body>
</html>
